<?xml version="1.0"?>

<model>
  <name>Greenhouse Environment (Textured)</name>
  <version>1.0</version>
  <sdf version="1.5">greenhouse.sdf</sdf>

  <description>
    A greenhouse environment for use with WVU Robotics' pollination project, with no placeholder trees and visual textures.
  </description>

</model>
